
  .wrapper {
    border: 1px solid #ccc;
    padding: 20px;
    width: 30%;
    margin: 0 auto;
  }
  .content {
    background: rgb(233, 233, 233);
  }
  .get-ip {
    text-transform: uppercase;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    margin: 0 15px 15px 0;
  }
